.red-color-background{
    -fx-background-color: #EF5653;
}

.orange-color-background{
    -fx-background-color: #FDC377;
}

.platinum-color-background{
    -fx-background-color: #ffffff;
}

.grey-color-background{
    -fx-background-color: #f5f5f5;
}

.black-color-background{
    -fx-background-color: #a40930;
}

.general-button-style{
    -fx-border-radius: 4px;
    -fx-border-color: #313638;


}

.categoryColorGreen{
    -fx-background-color: rgba(	125, 221, 119, 1);

}

.categoryFont{
    -fx-font-size: 30;
}

.general-button-style:hover{
    -fx-opacity: 0.7;
}

