/* ---Buttons and pliancy--------------*/
.button{
    -fx-background-color: #FDC377;
    -fx-font-size: 20;
    -fx-border-radius: 0 0 0 0;
    -fx-border-color: #050505;
    -fx-border-width: 0.3px;
}
.button:hover{
    -fx-background-color: ffd196;
    -fx-font-weight: bold;
    -fx-border-width: 0.8px;
    -fx-font-size:19;
}
.button:pressed {
    -fx-background-color: #eab46e;
    -fx-font-size: 17;
}
.button_Red {
    -fx-background-color: #d86955;
    -fx-font-size: 20;
    -fx-border-radius: 0 0 0 0;
    -fx-border-color: #050505;
    -fx-border-width: 0.3px;
}
.button_Red:hover{
    -fx-background-color: c15e4c;
    -fx-font-weight: bold;
    -fx-border-width: 0.8px;
    -fx-font-size:19;
}
.button_Red:pressed {
    -fx-background-color: #9f4d3e;
    -fx-font-size: 17;
}
.button_Green {
    -fx-background-color: #7aba7a;
    -fx-font-size: 20;
    -fx-border-radius: 0 0 0 0;
    -fx-border-color: #050505;
    -fx-border-width: 0.3px;
}
.button_Green:hover{
    -fx-background-color: #689f68;
    -fx-font-weight: bold;
    -fx-border-width: 0.8px;
    -fx-font-size:19;
}
.button_Green:pressed {
    -fx-background-color: #5b875b;
    -fx-font-size: 17;
}
.iMat{
    -fx-font-size: 40;
}
.iMat:hover{
    -fx-font-size: 40;
    -fx-font-weight: bold;
}
.iMat:pressed{
    -fx-font-color: #D5D5D5;
    -fx-font-size: 38;
}
.plus_minus_button {
    -fx-background-color: #FDFDFD;
    -fx-font-size: 20;
    -fx-border-radius: 0 0 0 0;
    -fx-border-color: #050505;
    -fx-border-width: 0.3px;
}
.plus_minus_button:hover {
    -fx-font-weight: bold;
    -fx-border-width: 0.8px;
    -fx-background-color: #E5E5E5;
}
.plus_minus_button:pressed {
    -fx-background-color: #C5C5C5;
    -fx-font-size: 18;
}
.category{
    -fx-font-size: 30;
    -fx-background-color: #FDFDFD;
}
.category:hover{
    -fx-background-color: #E5E5E5;
    -fx-font-size: 29;
    -fx-font-weight: bold;
}
.category:pressed{
    -fx-background-color: #C5C5C5;
    -fx-font-size: 27px;
}
/*----------Lightbox---------------------*/
.video_LighBox{
    -fx-background-color: rgba(0, 0, 0, 0.85)
}
/*----------------Colors----------------*/

.background_colour {
    -fx-background-color: #F5F5F2;
}
.special_color{
    -fx-background-color: #6E8D71
}
/*-----------Borders---------------*/
.border {
    -fx-border-width:0.3px;
    -fx-border-style:solid;
}
.borderBottom {
    -fx-border-style:none none solid none;
    -fx-border-width:0 0 0.3px 0;
}
.border_cart_products{
    -fx-border-style:solid;
    -fx-border-width:0 0.3px 0.3px 0.3px;
}
/*-----------Font-colors--------------*/
.font_color_orange{
    -fx-Text-Fill: #313638;
}

/*-----------Fonts-----------------------*/
.font_12{
    -fx-font-size: 12px;
}
.font_14{
    -fx-font-size: 14px;
}
.font_18{
    -fx-font-size: 18px
}
.front_20{
    -fx-font-size: 20px;
}
.front_24{
    -fx-font-size: 24px;
}
.font_28{
    -fx-font-size: 28px;
}
.font_30{
    -fx-font-size: 30px;
}
.font_34{
    -fx-font-size: 35px
}
